<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.rmg.api.projecttest.CreateProject_With_CompletedStatusTest"/>
      <!-- <class name="com.rmg.api.projecttest.CreateProject_With_InValidStatusTest"/> -->
      <class name="com.rmg.api.projecttest.CreateProject_With_CreatedStatusTest"/>
      <class name="com.rmg.api.projecttest.CreateProject_With_OnGoingStatusTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->